@{
    Layout = null;
    ViewBag.Title = "Contact";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css">
    <title>投票</title>
</head>

<body>

    <div class="col-sm-12" style="margin:10px 0px 10px 0px;">
        <img src="/Resource/img/hesu.jpg" style="width: 100%; height: 300px; border-radius: 5px;" />
        <h4 style="font-weight:600">黑龙江社会发展教育福击鼓</h4>
        <div style="margin:10px 0px 10px 0px">
            黑龙江社会发展教育福击鼓黑龙江社会发展教育福击鼓黑龙江社会发展教育福击鼓黑龙江社会发展教育福击鼓黑龙江社会发展教育福击鼓黑龙江社会发展教育福击鼓
        </div>
        <button class="btn btn-danger btn-block">投TA一票</button>
    </div>

    <div class="col-sm-12" style="margin: 10px 0px 10px 0px;">
        <img src="/Resource/img/hesu.jpg" style="width:100%;height:300px;border-radius:5px;" />
        <h4 style="font-weight:600">黑龙江社会发展教育福击鼓</h4>
        <div style="margin:10px 0px 10px 0px">
            黑龙江社会发展教育福击鼓黑龙江社会发展教育福击鼓黑龙江社会发展教育福击鼓黑龙江社会发展教育福击鼓黑龙江社会发展教育福击鼓黑龙江社会发展教育福击鼓
        </div>
        <button class="btn btn-danger btn-block">投TA一票</button>
    </div>

</body>
</html>
