@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    ViewBag.title = "微信菜单";
}
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            微信菜单
            <small>Optional description</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Level</a></li>
            <li class="active">Here</li>
        </ol>
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="well text-center">
            <h3 class="text-red">微信菜单 @ViewBag.msg</h3>
            <h5 class="text-red">返回代码：@ViewBag.result</h5>
            <a href="@Url.Action("CreateWechatMenu","WechatMenu")" class="btn btn-lg btn-primary">新增一个微信菜单</a>
        </div>
    </section>
    <!-- /.content -->
</div>